<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239787574751-b9ugcsnqklj8qclaqohcepl811lbgp78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239787574751-b9ugcsnqklj8qclaqohcepl811lbgp78</string>
	<key>API_KEY</key>
	<string>AIzaSyAjl7gmFdPnCY-hxXQ4kqy38IPAp_TzvRE</string>
	<key>GCM_SENDER_ID</key>
	<string>239787574751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mangoAi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mangoai-9c366</string>
	<key>STORAGE_BUCKET</key>
	<string>mangoai-9c366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239787574751:ios:cbe2da01efd69d05d8706a</string>
</dict>
</plist>